/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : Mar 18, 2026, 2:34:13 PM
    Author     : askibo
*/
body {
    background-color: lightcyan;
    font-family: Arial, sans-serif;
}

h1 {
    color: darkblue;
}

p {
    color: gray;
}
